@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        Workflow is configured for this application.
        <br />
        Click the following link.
        <br />
        <a href="/launch">launch</a>
        <br />
        This will lead to an api controller. Which will inturn invoke a workflow. 
        <br />
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
