@page
@model ContactModel
@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<p>Start postman and send a http post request to underlying url to
    <a href="/Contacts">this link.</a>
 </p>
<img src="../Images/Postman_PostRequestToContactsUrl.jpg" alt="Sample Photo" />
