@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        Workflows is configured for this application.
        <br />
        Start postman and send a http post request to <a asp-area="" asp-page="/Contacts">Contacts</a> url.
        <br />

        <br />
        <br />
        <br />
    </p>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
