@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="w3-container">
        <p>Monaco biscut hee. <a target="_blank" href="/home/MonacoTrial">Here it is</a></p>
        Do the following to integrate the <a target="_blank" href="https://microsoft.github.io/monaco-editor/">Monaco Editor</a> into this app
        <br />

    </div>
    </div>

    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {

            });
        </script>
    }
