
@{
    ViewData["Title"] = "Home Workflow";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="w3-container">

    <p>
        Elsa Workflows is configured for this application.
        <br />
        <button >Get Activites</button>
    </p>     

</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            alert("Jquery is working fine dude...");
        });

        function GetAndSetWorkflowDetails() {

        }

    </script>
}
